header {
    background-color: #004643;
    padding: 10px;
}

main {
    background-color: #abd1c6;
    height: 580px;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

p {
    color: #001e1d;
    font-family: monospace;
    font-weight: 900;
}

input[type=range] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background-color: #004643;
    border-radius: 4px;
    height: 8px;
    width: 700px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /*Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #e16162; /* Green background */
    border-radius: 15px;
    cursor: pointer; /* Cursor on hover */
}

h1 {
    font-family: monospace;
    color: #fffffe;
    text-align: center;
}
